.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    visibility: hidden;
    background-color: var(--yellow);
}

.tube {
    position: relative;
    width: 100%;
    height: 33px;
    /* tỷ lệ 24/18 * 25 = 33px */
}

.line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
    margin: 0;
    letter-spacing: -0.8px;
    font-size: 25px;
    white-space: nowrap;
    text-align: center;
    font-weight: 400;
}

.char {
    backface-visibility: hidden;
}