.title {
    padding: var(--padding);
}

.item {
    cursor: pointer;
    position: relative;
    /* Context if needed, though img is fixed */
    border-bottom: 1px solid #000;

}

.swipeimage {
    position: fixed;
    top: 0;
    left: 0;
    width: 350px;
    height: 450px;
    object-fit: cover;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    border-radius: 10px;
    will-change: transform, opacity;
}

.why {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 100px
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: padding 0.3s ease;
}


.content>h3 {
    font-size: 24px;
    font-weight: 500;
}

.content>p {
    font-size: 20px;
}

.count {
    padding: var(--padding);
    display: flex;
    align-items: center;
    gap: 20px;
}

.countBox {
    padding: 20px;
    width: fit-content;
    background-color: var(--green);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.countBox>p {
    font-size: 24px;
    font-weight: 500;
}

@media (max-width: 768px) {
    .title {
        padding: 20px;
    }

    .count {
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .content>h3 {
        font-size: 20px;
    }

    .content>p {
        font-size: 16px;
    }

    .countBox {
        padding: 15px;
    }

    .countBox>p {
        font-size: 20px;
    }

    .swipeimage {
        display: none;
    }

    .why {
        padding-bottom: 50px;
        gap: 20px;
    }
}