.button {
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-width: 2px;
    border-color: var(--mb-border, #000);
    border-style: solid;
    color: var(--mb-color, #000);
    background: var(--mb-bg, transparent);
    border-radius: var(--mb-border-radius, 25px);
    font-family: inherit;
    font-size: 16px;
    padding: var(--mb-padding, 10px 25px);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    position: relative;
}

.button:focus,
.buttonHover {
    outline: none;
    border-color: var(--mb-hover-border, #000);
    color: var(--mb-hover-color, #000);
    background: var(--mb-hover-bg, transparent);
}

.buttonText,
.buttonTextInner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}